
<!DOCTYPE html>
<html lang="en"><head>
	<title>Awareness Campaign</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
	<link href="plugin-frameworks/swiper.css" rel="stylesheet">
	
	<link href="fonts/ionicons.css" rel="stylesheet">
	
		
	<link href="common/styles.css" rel="stylesheet">
	
	
</head>
<body>
	
	<header>
		    <iframe src="../navbar.html" width="100%" height="82px" frameborder="0"></iframe>

		<!-- <a class="logo" href="#"> -->
			<!-- <img src="../assets/img/brand/it 6.png" alt="Logo"></a> -->
		
<!-- 		<div class="right-area">
			<form class="src-form">
				<button type="submit"><i class="ion-search"></i></a></button>
				<input type="text" placeholder="Search here">
			</form> --><!-- src-form -->
		<!-- </div> --><!-- right-area -->
		
		<!-- <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
		
		<ul class="main-menu" id="main-menu" style="text-align: center;">
			<li><h2><a href="index.html">Home</a></h2></li>
		</ul> -->
		
		<div class="clearfix"></div>
	</header>
	
	<div class="slider-main h-800x h-sm-auto pos-relative pt-95 pb-25">
		<div class="img-bg bg-1 bg-layer-4"></div>
		<div class="container-fluid h-90 mt-xs-50">
		
			<div class="row h-100">
				<div class="col-md-1"></div>
				<div class="col-sm-12 col-md-5 h-100 h-sm-50">
					<div class="dplay-tbl">
						<div class="dplay-tbl-cell color-white mtb-30">
							<div class="mx-w-400x">
								<!-- <h5><b>Media Centre</b></h5> -->
								<h1 class="mt-20 mb-30"><b>Awareness Campaign</b></h1>
								<!-- <h6><a class="plr-20 btn-brdr-grey color-white" href="#"><b>Continue Reading</b></a></h6> -->
							</div><!-- mx-w-200x -->
						</div><!-- dplay-tbl-cell -->
					</div><!-- dplay-tbl -->
				</div><!-- col-sm-6 -->
				
				<div class="col-sm-12 col-md-6 h-sm-50 oflow-hidden swiper-area pos-relative">			
	
					<div class="abs-blr pos-sm-static">
						<div class="row pos-relative mt-50 all-scroll">
						
							<div class="swiper-scrollbar resp"><div class="swiper-scrollbar-drag" style="transform: translate3d(195.078px, 0px, 0px); transition-duration: 0ms; width: 186.306px;"></div></div>
							<div class="col-md-10">
								
								<h5 class="mb-50 color-white"><b>LATEST NEWS</b></h5>
								
								<div class="swiper-container oflow-visible swiper-container-horizontal" data-slide-effect="slide" data-autoheight="false" data-swiper-speed="500" data-swiper-margin="25" data-swiper-slides-per-view="2" data-swiper-breakpoints="true" data-scrollbar="true" data-swiper-loop="true" data-swpr-responsive="[1, 2, 1, 2]">
									
									
								
									<div class="swiper-wrapper" style="transform: translate3d(-556px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 253px; margin-right: 25px;">
											<div class="bg-white">
												<img src="../assets/img/blog/2.jpg" alt="">
												
												<div class="plr-25 ptb-15">
													<h5 class="color-ash"><b>Tax</b></h5>
													<h4 class="mtb-10">
														<a href="blog1.html"><b>Know your Income Tax</b></a></h4>
													<ul class="list-li-mr-10 color-lt-black">
														<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
														<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
													</ul>
												</div><!-- hot-news -->
											</div><!-- hot-news -->
										</div><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" style="width: 253px; margin-right: 25px;">
											<div class="bg-white">
												<img src="../assets/img/blog/3.jpg" alt="">
												
												<div class="plr-25 ptb-15">
													<h5 class="color-ash"><b>Tax</b></h5>
													<h4 class="mtb-10">
														<a href="blog3.html"><b>Know your Taxable</b></a></h4>
													<ul class="list-li-mr-10 color-lt-black">
														<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
														<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
													</ul>
												</div><!-- hot-news -->
											</div><!-- hot-news -->
										</div>
										<!-- data-swiper-autoplay="1000"  --> 
										<div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 253px; margin-right: 25px;">
											<div class="bg-white">
												<img src="../assets/img/blog/1.jpg" alt="">
												
												<div class="plr-25 ptb-15">
													<h5 class="color-ash"><b>Law</b></h5>
													<h4 class="mtb-10">
														<a href="blog2.html"><b>Know The BENAMI LAW</b></a></h4>
													<ul class="list-li-mr-10 color-lt-black">
														<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
														<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
													</ul>
												</div><!-- hot-news -->
											</div><!-- hot-news -->
										</div><!-- swiper-slide -->
										
										<div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 253px; margin-right: 25px;">
											<div class="bg-white">
												<img src="../assets/img/blog/2.jpg" alt="">
												
												<div class="plr-25 ptb-15">
													<h5 class="color-ash"><b>Tax</b></h5>
													<h4 class="mtb-10">
														<a href="blog1.html"><b>Know your Income Tax</b></a></h4>
													<ul class="list-li-mr-10 color-lt-black">
														<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
														<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
													</ul>
												</div><!-- hot-news -->
											</div><!-- hot-news -->
										</div><!-- swiper-slide -->
										
										<div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="2" style="width: 253px; margin-right: 25px;">
											<div class="bg-white">
												<img src="../assets/img/blog/3.jpg" alt="">
												
												<div class="plr-25 ptb-15">
													<h5 class="color-ash"><b>Tax</b></h5>
													<h4 class="mtb-10">
														<a href="blog3.html"><b>Know your Taxable</b></a></h4>
													<ul class="list-li-mr-10 color-lt-black">
														<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
														<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
													</ul>
												</div><!-- hot-news -->
											</div><!-- hot-news -->
										</div><!-- swiper-slide -->
										
										
									<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 253px; margin-right: 25px;">
											<div class="bg-white">
												<img src="../assets/img/blog/1.jpg" alt="">
												
												<div class="plr-25 ptb-15">
													<h5 class="color-ash"><b>Law</b></h5>
													<h4 class="mtb-10">
														<a href="blog2.html"><b>Know The BENAMI LAW</b></a></h4>
													<ul class="list-li-mr-10 color-lt-black">
														<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
														<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
													</ul>
												</div><!-- hot-news -->
											</div><!-- hot-news -->
										</div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 253px; margin-right: 25px;">
											<div class="bg-white">
												<img src="../assets/img/blog/2.jpg" alt="">
												
												<div class="plr-25 ptb-15">
													<h5 class="color-ash"><b>Tax</b></h5>
													<h4 class="mtb-10">
														<a href="blog1.html"><b>Know your Income Tax</b></a></h4>
													<ul class="list-li-mr-10 color-lt-black">
														<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
														<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
													</ul>
												</div><!-- hot-news -->
											</div><!-- hot-news -->
										</div></div><!-- swiper-wrapper -->
								</div><!-- swiper-container -->
								
							</div><!-- col-sm-6 -->
						</div><!-- all-scroll -->
					</div><!-- row -->
				</div><!-- col-sm-6 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- slider-main -->
	
	
	<section class="bg-1-white ptb-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-md-12 col-lg-8 ptb-50 pr-30 pr-md-15">
					<!-- row -->
					
					<h4 class="mb-30 mt-20 clearfix"><b>Whats trending</b></h4>
					
					<div class="row">
						
						<!-- START OF SECOND PARA -->
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 mb-30">
							<div class="card h-100 h-xs-500x">
								<div class="sided-half sided-xs-half h-100 bg-white">
								
									<!-- SETTING IMAGE WITH bg-2 -->
									<div class="s-left w-50 w-xs-100 h-100 h-xs-50 pos-relative">
										<div class="bg-2 abs-tblr"></div></div>
									
									<div class="s-right w-50 w-xs-100 h-xs-50">
										<div class="plr-25 ptb-25 h-100">
											<div class="dplay-tbl">
												<div class="dplay-tbl-cell">
												
													<h5 class="color-ash"><b>Law</b></h5>
													<h2 class="mtb-10"><a href="blog2.html">
														<b>Know the BENAMI Law</b></a></h2>
													<ul class="list-li-mr-10 color-lt-black">
														<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
														<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
													</ul>
													
												</div><!-- dplay-tbl-cell -->
											</div><!-- dplay-tbl -->
										</div><!-- plr-25 ptb-25 -->
									</div><!-- s-right -->
								</div><!-- sided-half -->
							</div><!-- card -->
						</div><!-- col-lg-8 col-md-12 -->
						
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
							<div class="card h-100 h-xs-350x">
								<div class="bg-white h-100">
								
									<!-- SETTING IMAGE WITH bg-3 -->
									<div class="h-50 bg-3 dplay-lg-none dplay-xs-block"></div>
									
									<div class="plr-25 ptb-15 h-50">
										<div class="dplay-tbl">
											<div class="dplay-tbl-cell">
											
												<h5 class="color-ash"><b>Tax</b></h5>
												<h4 class="mtb-10">
													<a href="blog2.html"><b>Know your Income Tax</b></a></h4>
												<ul class="list-li-mr-10 color-lt-black">
													<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
													<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
												</ul>
												
											</div><!-- dplay-tbl-cell -->
										</div><!-- dplay-tbl -->
									</div><!-- plr-25 ptb-15 -->
								</div><!-- hot-news -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
						
						<!-- END OF SECOND PARA -->
				
						<!-- START OF THIRD PARA -->
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  mb-30">
							<div class="card h-100 bg-white">
								<div class="plr-25 ptb-15 h-100">
									<div class="dplay-tbl">
										<div class="dplay-tbl-cell">
										
											<h5 class="color-ash"><b>Tax</b></h5>
											<h4 class="mtb-10"><a href="blog2.html"><b>Know your Taxable</b></a></h4>
											<ul class="list-li-mr-10 color-lt-black">
												<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
												<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
											</ul>
											
										</div><!-- dplay-tbl-cell -->
									</div><!-- dplay-tbl -->
								</div><!-- plr-25 ptb-15 -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
	
	
	           <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  mb-30">
							<div class="card h-100 bg-white">
								<div class="plr-25 ptb-15 h-100">
									<div class="dplay-tbl">
										<div class="dplay-tbl-cell">
										
											<h5 class="color-ash"><b>Tax</b></h5>
											<h4 class="mtb-10"><a href="blog2.html"><b>Know your Taxable</b></a></h4>
											<ul class="list-li-mr-10 color-lt-black">
												<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
												<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
											</ul>
											
										</div><!-- dplay-tbl-cell -->
									</div><!-- dplay-tbl -->
								</div><!-- plr-25 ptb-15 -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
	
	
	
	
	         <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  mb-30">
							<div class="card h-100 bg-white">
								<div class="plr-25 ptb-15 h-100">
									<div class="dplay-tbl">
										<div class="dplay-tbl-cell">
										
											<h5 class="color-ash"><b>Tax</b></h5>
											<h4 class="mtb-10"><a href="blog2.html"><b>Know your Taxable</b></a></h4>
											<ul class="list-li-mr-10 color-lt-black">
												<li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
												<li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
											</ul>
											
										</div><!-- dplay-tbl-cell -->
									</div><!-- dplay-tbl -->
								</div><!-- plr-25 ptb-15 -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
						
						<!-- col-lg-4 col-md-6 -->
						
						<!-- col-lg-4 col-md-6 -->
					
						<!-- END OF THIRD PARA -->
					</div><!-- row -->
					
					<h6 class="text-center mt-20"><a class="btn-brdr-grey color-ash plr-30" href="blog2.html"><b>LOAD MORE</b></a></h6>
				</div><!-- col-sm-9 -->
				
				<div class="col-md-12 col-lg-3 bg-2-white ptb-50 pl-30 pl-md-15">
					<div class="row">
						<div class="col-md-12 col-lg-8">
							<div class="mx-w-md-400x mlr-md-auto">
							
								<div class="mb-50">
									<h5 class="mb-30"><b>TOP STORIES</b></h5>
									
									<div class="sided-80x mb-20">
										<div class="s-left">
											<img src="images/top_1_120x120.jpg" alt="">
										</div><!-- s-left -->
										<div class="s-right">
											<h5 class="pt-5"><a href="blog2.html"><b>Know the Benami Law</b></a></h5>
										</div><!-- s-left -->
									</div><!-- sided-80x -->
									
									<div class="sided-80x mb-20">
										<div class="s-left">
											<img src="images/top_2_120x120.jpg" alt="">
										</div><!-- s-left -->
										<div class="s-right">
											<h5 class="pt-5"><a href="blog1.html"><b>Know your Income Tax</b></a></h5>
										</div><!-- s-left -->
									</div><!-- sided-80x -->
									
									<div class="sided-80x mb-20">
										<div class="s-left">
											<img src="images/top_3_120x120.jpg" alt="">
										</div><!-- s-left -->
										<div class="s-right">
											<h5 class="pt-5"><a href="blog3.html"><b>Know your Taxable</b></a></h5>
										</div><!-- s-left -->
									</div><!-- sided-80x -->
									
									
								</div><!-- mb-50 -->
								
								<!-- <a class="mb-50 pos-relative dplay-block" href="blog2.html">
									
									<img src="images/sidebar_2_400X600.jpg" alt="">
									<div class="abs-tblr z-10 bg-layer-4">
									 -->
										<!-- <div class="dplay-tbl text-center color-white">
											<div class="dplay-tbl-cell">
												<h1 class="mb-10"><b class="mr-15">S</b><b class="ml-15">A</b></h1>
												<h1 class="mt-10"><b class="mr-15">L</b><b class="ml-15">E</b></h1>
											</div>
										</div> --><!-- dplay-tbl -->
									<!-- </div>abs-tblr -->
								<!-- </a>mb-50 -->
								
								<div class="mb-50">
									<h5 class="mb-30"><b>LATEST VIDEO</b></h5>
									
									<div class="sided-80x mb-20">
										<div class="s-left">
											<a class="v-icn" href="blog2.html"><i class="ion-play"></i></a>
											<img src="images/top_5_120x120.jpg" alt="">
										</div><!-- s-left -->
										<div class="s-right">
											<h5 class="pt-5"><a href="blog2.html"><b>Content</b></a></h5>
										</div><!-- s-left -->
									</div><!-- sided-80x -->
	                 <div class="sided-80x mb-20">
										<div class="s-left">
											<a class="v-icn" href="blog2.html"><i class="ion-play"></i></a>
											<img src="images/top_5_120x120.jpg" alt="">
										</div><!-- s-left -->
										<div class="s-right">
											<h5 class="pt-5"><a href="blog2.html"><b>Content</b></a></h5>
										</div><!-- s-left -->
									</div>
	                 <div class="sided-80x mb-20">
										<div class="s-left">
											<a class="v-icn" href="blog2.html"><i class="ion-play"></i></a>
											<img src="images/top_5_120x120.jpg" alt="">
										</div><!-- s-left -->
										<div class="s-right">
											<h5 class="pt-5"><a href="blog2.html"><b>Content</b></a></h5>
										</div><!-- s-left -->
									</div>
	               <div class="sided-80x mb-20">
										<div class="s-left">
											<a class="v-icn" href="blog2.html"><i class="ion-play"></i></a>
											<img src="images/top_5_120x120.jpg" alt="">
										</div><!-- s-left -->
										<div class="s-right">
											<h5 class="pt-5"><a href="blog2.html"><b>Content</b></a></h5>
										</div><!-- s-left -->
									</div>
	                <div class="sided-80x mb-20">
										<div class="s-left">
											<a class="v-icn" href="blog2.html"><i class="ion-play"></i></a>
											<img src="images/top_5_120x120.jpg" alt="">
										</div><!-- s-left -->
										<div class="s-right">
											<h5 class="pt-5"><a href="blog2.html"><b>Content</b></a></h5>
										</div><!-- s-left -->
									</div>

								</div><!-- mb-50 -->
								
								<!-- mb-50 -->
								
							</div><!-- mx-w-400 -->
						</div><!-- col-sm-9 -->
					</div><!-- row -->
				</div><!-- col-sm-3 -->
			</div><!-- row -->
		</div><!-- container -->
	</section>
	
	
	<footer class="bg-191 color-ash pt-50 pb-20 text-left center-sm-text">
		
		<div class="container-fluid">
			<div class="row">
			
				<div class="col-lg-1"></div>
				
				<div class="col-md-4 col-lg-6 mb-30">
					<div class="card h-100">
						<div class="dplay-tbl">
							<div class="dplay-tbl-cell">
							
								<a href="blog2.html"><img src="../assets/img/brand/it 6.png"></a>
								<p class="color-ash mt-25"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<strong>Department of Income Tax</strong> | North East Region © 2019 All Right Reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
								
							</div><!-- dplay-tbl-cell -->
						</div><!-- dplay-tbl -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				
				<div class="col-md-4 col-lg-2 mb-30">
					<div class="card h-100">
						<div class="dplay-tbl">
							
						</div><!-- dplay-tbl -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				
				<div class="col-md-4 col-lg-2 mb-30 text-left">
					<div class="card h-100">
						<div class="dplay-tbl">
							<div class="dplay-tbl-cell">
								<ul class="list-a-plr-10">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-youtube"></i></a></li>
								</ul>
								<form class="form-block form-brdr-b mx-w-400x m-auto">
									<button class="mt-30 btn-brdr-grey color-ash w-100 text-center" type="submit">Home</button>
								
								</form>
							</div><!-- dplay-tbl-cell -->
						</div><!-- dplay-tbl -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</footer>
	
	<!-- SCIPTS -->
	
	<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
	
	<script src="plugin-frameworks/bootstrap.min.js"></script>
	
	<script src="plugin-frameworks/swiper.js"></script>
	
	
	<script src="common/scripts.js"></script>
	

</body></html>



<!-- 
<!DOCCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Design System for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Income Tax</title>
  <!-- Favicon -->
  <link href="./assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="./assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="./assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="./assets/css/argon.css?v=1.0.0" rel="stylesheet">
  <!-- Docs CSS -->
  <link type="text/css" href="./assets/css/docs.min.css" rel="stylesheet">


  <!-- Slider Dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
  <link rel="stylesheet" href="slider/css/style.css">

  <!-- Siderbar Dependencies -->
  <!-- <link rel="stylesheet" href="sidebar/style.css"> -->

  <!-- Particle -->
  <link rel="stylesheet" media="screen" href="css/style.css">




</head>

<body class="bg-gradient-success">


  <header class="header-global">
    
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-dark bg-gradient-info">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand mr-lg-5" href="../index.html">
          <img src="assets/img/brand/it 6.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img src="../assets/img/brand/blue.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item dropdown">
              <a href="blog/index.html" class="nav-link">
                <!-- <i class="ni ni-ui-04 d-lg-none"></i> -->
                Home
                <!-- <span class="nav-link-inner--text"></span> -->
              </a>
              <!-- <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text">Home</span>
              </a> -->
<!--               <div class="dropdown-menu dropdown-menu-xl">
                <div class="dropdown-menu-inner">
                  <a href="https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                      <i class="ni ni-spaceship"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="heading text-primary mb-md-1">About Us</h6>
                      <p class="description d-none d-md-inline-block mb-0">Get started with Bootstrap, the world's most popular framework for building responsive sites.</p>
                    </div>
                  </a>
                  <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="ni ni-ui-04"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h5 class="heading text-warning mb-md-1">Components</h5>
                      <p class="description d-none d-md-inline-block mb-0">Learn how to use Argon compiling Scss, change brand colors and more.</p>
                    </div>
                  </a>

              </div> -->
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <i class="ni ni-collection d-lg-none"></i>
                <span class="nav-link-inner--text">About Us</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="blog/index.html" class="nav-link">
                <!-- <i class="ni ni-ui-04 d-lg-none"></i> -->
                Awareness Campaign
                <!-- <span class="nav-link-inner--text"></span> -->
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="faq/faq.html" class="nav-link">
                <!-- <i class="ni ni-ui-04 d-lg-none"></i> -->
                FAQs
                <!-- <span class="nav-link-inner--text"></span> -->
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text">Downloads</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text">Utilities</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text">Contact Us</span>
              </a>
            </li>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

            <!-- <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <i class="ni ni-collection d-lg-none"></i>
                <span class="nav-link-inner--text">Employee's Corner</span>
              </a>
              <div class="dropdown-menu dropdown-menu-md bg-gradient-info">
                <div class="dropdown-menu-inner">
                  <a href="https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html" class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h5 class="new_font text-white mb-md-1" style="font-weight: bold">Cadre Management System</h5>

                      <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                        <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                          <i class="ni ni-lock-circle-open"></i>
                        </div>
                        <div class="media-body ml-3">
                          <p class="new_font text-white mb-md-1">Login</p>
                        </div>
                      </a>
                      <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                        <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                          <i class="ni ni-circle-08"></i>
                        </div>
                        <div class="media-body ml-3">
                          <p class="new_font text-white mb-md-1">Register</p>
                        </div>
                      </a>
                        

                  </div>
                </a>

                <br>

                <a href="https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html" class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h5 class="new_font text-white mb-md-1" style="font-weight: bold">Gallery</h5>

                      <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                        <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                          <i class="ni ni-album-2"></i>
                        </div>
                        <div class="media-body ml-3">
                          <p class="new_font text-white mb-md-1">View</p>
                        </div>
                      </a>
                  </div>
                </a>

                <br>

                <a href="https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html" class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h5 class="new_font text-white mb-md-1" style="font-weight: bold">Offical Communique</h5>

                      <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                        <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                          <i class="ni ni-briefcase-24"></i>
                        </div>
                        <div class="media-body ml-3">
                          <p class="new_font text-white mb-md-1">View</p>
                        </div>
                      </a>
                  </div>
                </a>    

              </div>

            </li> -->

            <!-- <li class="nav-item d-none d-lg-block ml-lg-4">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text">Downloads</span>
              </a>
            </li> -->

            
          </ul>
        </div>
        <a class="navbar-brand mr-lg-5" href="../index.html">
          <img src="assets/img/indianemblem.png">
        </a>
      
    </nav>
  
  </header>


  <!-- Slider Body -->

  <div id="app" class="wrapper" v-cloak v-bind:class="{'is-previous': isPreviousSlide, 'first-load': isFirstLoad}">
            <div class="slide-wrapper" 
                 v-for="(slide, index) in slides" 
                 v-bind:class="{ active: index === currentSlide }"
                 v-bind:style="{ 'z-index': (slides.length - index), 'background-image': 'url(' + slide.bgImg + ')' }">
                <div class="slide-inner">
                    <div class="slide-bg-text">
                        <p>{{ slide.headlineFirstLine }}</p>
                        <p>{{ slide.headlineSecondLine }}</p>
                    </div>
                    <!-- <div class="slide-rect-filter">
                        <div class="slide-rect" v-bind:style="{'border-image-source': 'url(' + slide.rectImg + ')'}"></div>
                    </div> -->
                    <div class="slide-content">
                        <h1 class="slide-content-text" style="color: white"><p>{{ slide.headlineFirstLine }}</p><p>{{ slide.headlineSecondLine }}</p></h1>
                        <!-- <a class="slide-content-cta" href="https://www.youtube.com/watch?v=cQFVeh6PCSQ">Play Video</a> -->
                      </div>
                    <h2 class="slide-side-text"><span>{{ slide.sublineFirstLine }}</span>
                      <!-- <span>{{ slide.sublineSecondLine }}</span> -->
                    </h2>
                  </div>
            </div>
        <div class="controls-container">
            <button class="controls-button" 
                    v-for="(slide, index) in slides"
                    v-bind:class="{ active: index === currentSlide }"
                    v-on:click="updateSlide(index)">{{ slide.headlineFirstLine }} {{ slide.headlineSecondLine }}</button>
        </div>
        <div class="pagination-container">
            <span class="pagination-item"
                  v-for="(slide, index) in slides"
                  v-bind:class="{ active: index === currentSlide }"
                  v-on:click="updateSlide(index)"></span>
        </div>
    </div>

    <!-- Whats New -->

    <div class="row bg-gradient-info">
      <div class="container">
        <div class="col-lg-12">
          <br><br><br>
            <!-- <div class="row justify-content-center text-center mb-lg"> -->
              <!-- <div class="col-lg-8"> -->
                <h2 class="display-3 new_font text-center text-white">What's New</h2>
                <br><br>
              <!-- </div> -->
            <!-- </div> -->

            <div class="row row-grid">
              <div class="col-lg-3">
                <div class="card card-lift--hover shadow border-0 bg-gradient-banner">
                  <div class="card-body">
                    <h6 class="text-white new_font text-uppercase" style="font-weight: bold">What's New</h6>
                    <p class="description text-white mt-3 new_font">Waiting for Content, Content for Waiting</p>
                    <br>
                    <div>
                      <span class="badge new_font badge-pill badge-yellow">view more</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card card-lift--hover shadow border-0 bg-gradient-banner">
                  <div class="card-body">
                    <h6 class="text-white new_font text-uppercase" style="font-weight: bold">What's New</h6>
                    <p class="description text-white mt-3 new_font">Waiting for Content, Content for Waiting</p>
                    <br>
                    <div>
                      <span class="badge new_font badge-pill badge-yellow">view more</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card card-lift--hover shadow border-0 bg-gradient-banner">
                  <div class="card-body">
                    <h6 class="text-white new_font text-uppercase" style="font-weight: bold">What's New</h6>
                    <p class="description text-white mt-3 new_font">Waiting for Content, Content for Waiting</p>
                    <br>
                    <div>
                      <span class="badge new_font badge-pill badge-yellow">view more</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card card-lift--hover shadow border-0 bg-gradient-banner">
                  <div class="card-body">
                    <h6 class="text-white new_font text-uppercase" style="font-weight: bold">What's New</h6>
                    <p class="description text-white mt-3 new_font">Waiting for Content, Content for Waiting</p>
                    <br>
                    <div>
                      <span class="badge new_font badge-pill badge-yellow">view more</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br><br>
      </div>
    </div>


    <!-- Buttons -->
      <section class="section section-lg pt-lg-0 bg-gradient-info">
      <br><br><br><br>
      <div class="container">
         <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-6">
                <div class="card card-lift--hover shadow border-0 bg-gradient-banner2">
                  <div class="card-body">
                     <ul class="nav nav-pills nav-pills-circle" id="tabs_2" role="tablist">
                        <li class="nav-item">
                          <br>
                          <a class="nav-link rounded-circle active bg-warning" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab" aria-controls="home" aria-selected="true">
                            <span class="nav-link-icon d-block"><i class="ni ni-atom"></i></span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="btn btn-primary mt-4 new_font">Tax Law's and Rules</a>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card card-lift--hover shadow border-0 bg-gradient-banner2">
                  <div class="card-body">
                     <ul class="nav nav-pills nav-pills-circle" id="tabs_2" role="tablist">
                        <li class="nav-item">
                          <br>
                          <a class="nav-link rounded-circle active bg-yellow" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab" aria-controls="home" aria-selected="true">
                            <span class="nav-link-icon d-block"><i class="ni ni-atom"></i></span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="btn btn-primary mt-4 new_font">Tax Information Services</a>
                        </li>
                      </ul>
                  </div>              
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Where Tax goes -->
    <div id="particles-js"></div>
     <div class="row bg-gradient-info">
      <div class="container">
        <div class="col-lg-12">
          <!-- <h2 class="display-3 new_font text-center text-white">Where your Tax Goes</h2>
          <img src="assets/img/ill/ill-2.svg" class="img-center img-fluid">
            <canvas id="canvas"></canvas> -->
            
            <img src="assets/img/where.png" class="img-center img-fluid">
            <br><br><br><br><br><br>
        </div>
      </div>
    </div>


    <!-- Media Centre -->
      <section class="section section section-shaped my-0 overflow-hidden">
        <br>
        <br>
        <br>
        <h2 class="display-3 new_font text-center text-white floating">
          <a href="blog/index.html" style="color: white" >Awareness Campaign</a>
        </h2>
      <div class="shape shape-style-1 bg-gradient-banner3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-4">
            <div class="card card-lift--hover bg-primary shadow border-0">
              <a href="blog/index.html">
              <img src="assets/img/blog/1.jpg" class="card-img-top">
              </a>
              <blockquote class="card-blockquote floating">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">

                  <polygon points="0,52 583,95 0,95" class="fill-primary" />
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-primary" />
                </svg>
                 <p class="lead text-dark mt-2 new_font"><a href="blog/index.html" style="color: white" >Know the Benami Law</a></p>
                 <br>
                <p class="text-italic text-dark new_font"></p>
              </blockquote>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-lift--hover bg-primary shadow border-0">
              <a href="blog/index.html">
                <img src="assets/img/blog/2.jpg" class="card-img-top">
              <a href="blog/index.html">
              <blockquote class="card-blockquote floating">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                  <polygon points="0,52 583,95 0,95" class="fill-primary" />
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-primary" />
                </svg>
                 <p class="lead text-dark mt-2 new_font"><a href="blog/index.html" style="color: white" >Know your Income Tax</a></p>
                 <br>
                <p class="text-italic text-dark new_font"></p>
              </blockquote>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-lift--hover bg-primary shadow border-0">
              <a href="blog/index.html">
                <img src="assets/img/blog/3.jpg" class="card-img-top">
              </a>
              <blockquote class="card-blockquote shadow floating">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                  <polygon points="0,52 583,95 0,95" class="fill-primary" />
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-primary" />
                </svg>
                 <p class="lead text-dark mt-2 new_font"><a href="blog/index.html" style="color: white" >Know your taxable</a></p>
                 <br>
                <p class="text-italic text-dark new_font"></p>
              </blockquote>
            </div>
          </div>
          
        </div>
      </div>
    </section>


    <!-- Bar -->

    <section class="section section section-shaped my-0 overflow-hidden bg-gradient-gray-dark">

        <div class="row row-grid align-items-center mt-0" >
          <div class="col-sm-2 offset-1 col-6 mt-0 mt-sm-0">
            <small class="d-block text-uppercase font-weight-bold mb-4"></small>
            <img src="assets/img/bar/government-web-directory.png" alt=" image" class="img-fluid rounded shadow-lg" style="width: 150px;">
          </div>
           <div class="col-sm-2 col-6 mt-0 mt-sm-0">
            <small class="d-block text-uppercase font-weight-bold mb-4"></small>
            <img src="assets/img/bar/income-tax.png" alt=" image" class="img-fluid rounded shadow-lg" style="width: 150px;">
          </div>
           <div class="col-sm-2 col-6 mt-0 mt-sm-0">
            <small class="d-block text-uppercase font-weight-bold mb-4"></small>
            <img src="assets/img/bar/india-gov.png" alt=" image" class="img-fluid rounded shadow-lg" style="width: 150px;">
          </div>
           <div class="col-sm-2 col-6 mt-0 mt-sm-0">
            <small class="d-block text-uppercase font-weight-bold mb-4"></small>
            <img src="assets/img/bar/ministry-of-finance.png" alt=" image" class="img-fluid rounded shadow-lg" style="width: 150px;">
          </div>
           <div class="col-sm-2 col-6 mt-0 mt-sm-0">
            <small class="d-block text-uppercase font-weight-bold mb-4"></small>
            <img src="assets/img/bar/mygov.png" alt=" image" class="img-fluid rounded shadow-lg" style="width: 150px;">
          </div>
        </div>

    </section>
 

    <footer class="footer bg-gray-dark">
      <div class="container">
        <div class="row row-grid">
        <div class="col-lg-3">
          <h3 class="text-white font-weight-bold new_font mb-2">About Website</h3>
          <br>
          <img src="assets/img/brand/it 6.png" class="img-fluid">
          <br><br>
          <h5 class="text-white new_font mb-2">Waiting for content</h5>
        </div>

         <div class="col-lg-3">
          <h3 class="text-white font-weight-bold new_font mb-2">Our Contacts</h3>
          <br>
          <i class="fa fa-envelope" style="color: white"></i> &nbsp;
          <a href="mailto:kabird1196@gmail.com" style="color: white" class="new_font">contact@contact.com</a> 
          <br>
          <br>

          <i class="fa fa-phone" style="color: white"></i> &nbsp;
          <a href="mailto:kabird1196@gmail.com" style="color: white" class="new_font">0361-238238</a> 
          <br>
          <br>

          <i class="fa fa-mobile" style="color: white"></i> &nbsp;
          <a href="mailto:kabird1196@gmail.com" style="color: white" class="new_font">+91 8876721208</a> 
        </div>

         <div class="col-lg-3">
          <h3 class="text-white font-weight-bold new_font mb-2">Quick Links</h3>
          <br>

          <a href="" style="color: white" class="new_font">Visitor's Notebook</a> 
          <br><br>
          <a href="" style="color: white" class="new_font">Suggestion Box</a> 
          <br><br>
          <a href="" style="color: white" class="new_font">Contact Us</a> 
        </div>

         <div class="col-lg-3">
          <h3 class="text-white font-weight-bold new_font mb-2">Office Address</h3>
          <br>
          <h5 class="text-white new_font mb-2">Lorem ipsum dolor sit amet consectetur adipisicing Iste quaerat officiis, sequi</h5>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-10">
          <div class="copyright new_font">
            <a href="https://www.creative-tim.com" class="new_font" style="color: #ffffff" target="_blank">
              &copy; 2018
              <strong class="new_font" style="color: #ffffff; font-weight: bold">Department of Income Tax</strong> | North East Region © 2019 All Right Reserved
            </a>
          </div>
        </div>
      </div>
      </div>
    </footer>


    


  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js'></script>
  <script  src="slider/js/index.js"></script>


  <main style="height: 100%"></main>
  
  <!-- Core -->
  <script src="./assets/vendor/jquery/jquery.min.js"></script>
  <script src="./assets/vendor/popper/popper.min.js"></script>
  <script src="./assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="./assets/vendor/headroom/headroom.min.js"></script>
  <!-- Optional JS -->
  <script src="./assets/vendor/onscreen/onscreen.min.js"></script>
  <script src="./assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="./assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <!-- Argon JS -->
  <script src="./assets/js/argon.js?v=1.0.0"></script>


  <!-- Slider JS Dependencies -->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js'></script>
  <script  src="js/index.js"></script>


  <!-- Sidebar JS Dependencies -->
  <!-- <script  src="sidebar/js/index.js"></script> -->

  <!-- Particle JS -->
  <script src="js/particles.js"></script>
  <script src="js/app.js"></script>



</body>

</html>

-->
